[user]
	name = Daniel Rodriguez
	email = df.rodriguez143@gmail.com

[push]
	default = simple

[core]
	excludesfile = /Users/danielfrg/.gitignore_global

[alias]
    commiti = commit --interactive
    diff = diff --color-words
    st = status
    co = checkout
    gr = grep -i --color -n -E
    logl = log --pretty=oneline --abbrev-commit
    lg = log --graph --topo-order --use-mailmap --stat --decorate
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /opt/homebrew-cask/Caskroom/sourcetree/2.2.4/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[commit]
	gpgsign = true
