"*":
  autosave:
    enabled: true
  "base16-syntax":
    scheme: "Tomorrow"
  core:
    ignoredNames: [
      ".DS_Store"
      ".git"
      "*.pyc"
    ]
    themes: [
      "one-dark-ui"
      "base16-tomorrow-dark-theme"
    ]
  editor:
    fontFamily: "Hack"
    fontSize: 15
    invisibles: {}
    showIndentGuide: true
    tabLength: 4
  "exception-reporting":
    userId: "31fb4b32-093c-7478-de1a-ab36924e609e"
  linter:
    showErrorPanel: false
  "linter-pylint":
    executable: "/Users/danielfrg/anaconda/bin/pylint"
  nbviewer:
    jupyterConvertBin: "/Users/danielfrg/anaconda/bin/jupyter-nbconvert"
  "one-dark-ui":
    layoutMode: "Spacious"
  "tree-view":
    hideIgnoredNames: true
    showOnRightSide: true
    squashDirectoryNames: true
  welcome:
    showOnStartup: false
