"*":
  "exception-reporting":
    userId: "31fb4b32-093c-7478-de1a-ab36924e609e"
  welcome:
    showOnStartup: false
  core:
    ignoredNames: [
      ".DS_Store"
      ".git"
      "*.pyc"
      "*.egg-info"
    ]
    themes: [
      "one-dark-ui"
      "LightTable-syntax"
    ]
  editor:
    invisibles: {}
    fontFamily: "Hack"
    showIndentGuide: true
    fontSize: 15
  "tree-view":
    hideIgnoredNames: true
    squashDirectoryNames: true
    showOnRightSide: true
  "linter-pylint":
    executable: "/Users/danielfrg/anaconda/envs/anaconda-cluster-dev/bin/pylint"
  linter:
    showErrorPanel: false
  "nbviewer":
    "jupyterConvertBin": "/Users/danielfrg/anaconda/bin/jupyter-nbconvert"
