"*":
  "atom-beautify":
    general:
      _analyticsUserId: "fe65d581-8d0a-4297-bb97-847c4c758ba5"
  "autocomplete-python":
    pythonPaths: "/Users/danielfrg/anaconda/envs/adam/bin/python"
  autosave:
    enabled: true
  "base16-syntax":
    scheme: "Tomorrow"
  core:
    ignoredNames: [
      ".DS_Store"
      ".git"
      "*.pyc"
    ]
    themes: [
      "one-dark-ui"
      "base16-tomorrow-dark-theme"
    ]
  editor:
    fontFamily: "Hack"
    fontSize: 15
    invisibles: {}
    preferredLineLength: 120
    showIndentGuide: true
    tabLength: 4
  "exception-reporting":
    userId: "31fb4b32-093c-7478-de1a-ab36924e609e"
  linter:
    showErrorPanel: false
  "linter-flake8":
    executablePath: "/Users/danielfrg/anaconda/bin/flake8"
    flakeErrors: true
    maxLineLength: 120
  nbviewer:
    jupyterConvertBin: "/Users/danielfrg/anaconda/bin/jupyter-nbconvert"
  "one-dark-ui":
    layoutMode: "Spacious"
  "python-tools":
    pythonPath: "/Users/danielfrg/anconda/bin"
  "tree-view":
    hideIgnoredNames: true
    showOnRightSide: true
    squashDirectoryNames: true
  welcome:
    showOnStartup: false
