'atom-text-editor.vim-mode.insert-mode':
  'k': 'exit-insert-mode-if-preceded-by-j'
  'right': 'null'
  'left': 'null'
  'up': 'null'
  'down': 'null'

'atom-text-editor.vim-mode:not(.insert-mode)':
  '0': 'vim-mode:move-to-first-character-of-line'
  'right': 'null'
  'left': 'null'
  'up': 'null'
  'down': 'null'
