adam:
  title: "adam"
  paths: [
    "/Users/danielfrg/workspace/adam"
    "/Users/danielfrg/workspace/adam-cloudera"
    "/Users/danielfrg/workspace/adam-notebook"
    "/Users/danielfrg/workspace/adam-dask"
    "/Users/danielfrg/workspace/adam-repository"
    "/Users/danielfrg/workspace/adam-mosaic"
    "/Users/danielfrg/workspace/adam-accelerate"
    "/Users/danielfrg/workspace/adam-enterprise-notebooks"
    "/Users/danielfrg/workspace/adam-kapsel"
    "/Users/danielfrg/.continuum"
    "/Users/danielfrg/workspace/continuum_gen_license"
  ]
  settings:
    "linter-flake8":
      executablePath: "/Users/danielfrg/anaconda/envs/adam/bin/flake8"
    "autocomplete-python":
      pythonPaths: "/Users/danielfrg/anaconda/envs/adam/bin/python"
    "python-tools":
      pythonPath: "/Users/danielfrg/anconda/envs/adam/bin"
"not-binder":
  title: "not-binder"
  paths: [
    "/Users/danielfrg/workspace/not-binder"
  ]
  settings:
    "linter-pylint":
      executable: "/Users/danielfrg/anaconda/envs/not-binder/bin/pylint"
dask:
  title: "dask"
  paths: [
    "/Users/danielfrg/workspace/dask-ec2"
  ]
  settings:
    "linter-pylint":
      executable: "/Users/danielfrg/anaconda/envs/dask-ec2/bin/pylint"
      workingDirectory: "%p"
knit:
  title: "knit"
  paths: [
    "/Users/danielfrg/workspace/knit-conda"
  ]
  settings:
    "linter-pylint":
      executable: "/Users/danielfrg/anaconda/envs/knit-conda/bin/pylint"
      workingDirectory: "%p"
blog:
  title: "blog"
  paths: [
    "/Users/danielfrg/workspace/blog"
  ]
  settings:
    "linter-pylint":
      executable: "/Users/danielfrg/anaconda/envs/blog/bin/pylint"
dotfiles:
  title: "dotfiles"
  paths: [
    "/Users/danielfrg/workspace/dotfiles"
    "/Users/danielfrg"
  ]
"conda-recipes":
  title: "conda-recipes"
  paths: [
    "/Users/danielfrg/workspace/staged-recipes"
    "/Users/danielfrg/workspace/dec2-feedstock"
  ]
tensorflow:
  title: "tensorflow"
  paths: [
    "/Users/danielfrg/workspace/tensorflow"
  ]
