/*
 * Your Stylesheet
 *
 * This stylesheet is loaded when Atom starts up and is reloaded automatically
 * when it is changed and saved.
 */

.tree-view {
  background-color: rgb(32, 32, 32);
  // background-color: #ccc;
  // box-shadow: 20px black;
  // margin: 0;
}

atom-workspace atom-panel-container.left:empty {
  padding-left: 0;
}

atom-pane-container atom-pane {
  padding-top: 0;
  padding-right: 0;
}

// .tab-bar {
//   background-color: rgb(32, 32, 32);
//   border: 2px black;
//
//   .tab {
//     height: 98%;
//     border-radius: 0;
//     // border-top: 1px solid #131313;
//     background-color: rgb(32, 32, 32);
//     // border-bottom: 2px black;
//
//     .title {
//       background-color: rgb(32, 32, 32);
//     }
//   }
// }
